<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Budget</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/js/mainCategoryModification.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/resources/css/budget.css"/>

</head>

<body>


<div class="container">
    <div class="row">

        <div class="just-padding">
            <div class="list-group list-group-root well">

                <th:block th:each="maincat, iterStat : ${mainCategories}">
                    <div class="mainCategoryHeading">
                        <a class="list-group-item" data-toggle="collapse"
                           th:href="'#mainCategory' + ${iterStat.index}">
                            <i class="glyphicon glyphicon-chevron-right" th:text="${maincat.name}">MainCategory</i>
                        </a>
                    </div>
                    <div class="list-group collapse" th:id="'mainCategory' + ${iterStat.index}">

                        <div th:if="${!maincat.items.empty}">
                            <div class="item">
                                <div th:text="${maincat.items}"></div>
                            </div>
                        </div>

                        <th:block th:each="subcat, iterStat : ${maincat.subCategories}">
                            <div class="subcategoryHeading">
                                <a class="list-group-item" data-toggle="collapse"
                                   th:href="'#subCategory' + ${iterStat.index}">
                                    <i class="glyphicon glyphicon-chevron-right" th:text="${subcat.name}"></i>
                                </a>
                            </div>
                            <div class="list-group collapse"
                                 th:id="'subCategory' + ${iterStat.index}">

                                <th:block th:each="item : ${subcat.items}">
                                    <a class="list-group-item item" th:text="${item.name} + ${item.money}"></a>
                                </th:block>
                            </div>
                        </th:block>
                    </div>
                </th:block>
            </div>
        </div>
    </div>
</div>


</body>

</html>
